﻿@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>MembershipType : @Model.MembershipType.Description</li>
    @if (Model.Birthdate != null)
    {
        <li>BirthDate : @Model.Birthdate</li>
    }
</ul>